{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 ml-5">
    <h1>Contact Us</h1>
    <dl class="row">
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">22 Upper Avenue, OL Mars</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9"><a href="tel: 987-654-3210">987-654-3210</a></dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9"><a href="mailto:contact@bestcars.com">contact@bestcars.com</a></dd>
    </dl>
</div>
{% endblock content %}

